body {
	font-family: Verdana;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#name {
	font-weight: bold;
	text-align: center;
	font-size:35px;
}

.title {
	font-weight: bold;
	font-size: 20px;
	line-height: 6px;
}

.header {
	font-size: 16px;
}

.date {
	float: right;
}

.position {
	font-style: italic;
}

.location {
	font-weight: bold;
}

ul {
	list-style-type: square;
}

.detail {
	font-weight: bold;
}

#section {
	text-align: center;
}